<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="row">
  <div class="col text-center">
    <img src="assets/img/9.png" class="hangman-img" alt="">
    <h3>Intentos <small>3 / 9 </small></h3>
  </div>
</div>

<div class="row">
  <div class="col text-center">

    <h1>{{palabraOculta}}</h1>
  </div>
</div>


<div class="row">
  <div class="col text-center">

     <button *ngFor="let letra of letras" class="btn btn-primary">{{letra}}</button>

  </div>
</div>
